table#staff td, th {
    font-size: 11px;
    line-height: 11px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    padding: 1px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

#titles{
    display: table-row!important;
}

