@media print {
	body {
		padding-top: 0px!important;
	}

	form,.navbar{
		display: none!important;
	}

	a[href]:after {
		content: none!important;
	}

	table,table td,table th{
		padding: 1px!important;
		font-size: 11px!important;
		margin-bottom: 0px!important;
	}
	#id_reason select {
		height: 16px!important;
	}

}

body{
	padding-top: 41px;
}

#time{
	float: right;
}

#titles{
    display: table-row!important;
}

.label{
	margin-left: 5px;
	position: absolute;
}

.datetimeshortcuts{
	position: absolute;
	margin-top: 5px;
}

button{
/*	position: absolute;
	margin-left: 4px;*/
}

#input_damaged,.rltvs,.vhcls,.cntcts,.prd,.aprtmnt,.tp,.pd,.actv{
	margin-bottom: 2px!important;
	margin-right: 5px!important;
	margin-left: 1px!important;
}

#id_check_out, #id_end{
	margin-left: 100px;
}
/*--------------calendar - widget------------------------*/
#calendarbox0, #calendarbox1, #calendarbox2{
	/*top:40px!important;*/
/*	border-width: 1px;
	border-style: solid;*/		
	background-color: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
border-radius: 4px;	
}

.calendarbox, .clockbox {
margin: 5px auto;
font-size: 11px;
width: 16em;
text-align: center;
background: white;
position: relative;
}

.calendarbox, .clockbox {
font-size: 11px;
text-align: center;
}

.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
display: block;
position: absolute;
font-weight: bold;
font-size: 12px;
background: #C9DBED url(../img/default-bg.gif) bottom left repeat-x;
padding: 1px 4px 2px 4px;
color: white;
}

.module h2, .module caption, .inline-group h2 {
margin: 0;
padding: 2px 5px 3px 5px;
font-size: 11px;
text-align: left;
font-weight: bold;
background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
color: white;
}

.calendarnav-previous {
top: 0;
left: 0;
}

.calendarnav-next {
top: 0;
right: 0;
}

.calendarbox, .clockbox {
font-size: 11px;
text-align: center;
}

.calendar {
margin: 0;
padding: 0;
}

.calendar table {
margin: 0;
padding: 0;
border-collapse: collapse;
background: white;
width: 100%;
}

.calendarbox, .clockbox {
font-size: 11px;
text-align: center;
}

.calendar caption, .calendarbox h2 {
margin: 0;
font-size: 11px;
text-align: center;
border-top: none;
}

.calendar table {
border-collapse: collapse;
}	

.calendar th {
font-size: 10px;
color: #666;
padding: 2px 3px;
text-align: center;
background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
border-bottom: 1px solid #ddd;
}

.calendar td {
font-size: 11px;
text-align: center;
padding: 0;
border: 1px solid #eee;

}

.calendar td a, .timelist a {
display: block;
font-weight: bold;
/*padding: 4px;*/
text-decoration: none;
color: #444;
}

.calendar-shortcuts {
background: white;
font-size: 10px;
line-height: 11px;
border-top: 1px solid #eee;
padding: 3px 0 4px;
color: #ccc;
}

.calendar-shortcuts {
font-size: 10px;
line-height: 11px;
color: #ccc;
}

.calendar-cancel {
margin: 0 !important;
padding: 0 !important;
font-size: 10px;
background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
border-top: 1px solid #ddd;
}

.calendar-cancel a {
color: black;
display: block;
}

.calendar td a:hover, .timelist a:hover {
background: #5b80b2;
color: white;
}
/*--------------calendar - widget -end------------------------*/
table#staff td, th {
/*    font-size: 11px;
    line-height: 11px;
    border-bottom: 1px solid #eee;
    padding: 1px;*/
    /*font-family: "Lucida Grande", Verdana, Arial, sans-serif;*/
    vertical-align: middle;
}
#id_reason select{
    font-size: 11px;
    height: 19px;
    line-height: 15px;
    width: 100px;
    margin:0;padding:0;display:none;
}

#id_reason{
	width: 184px;
	/*height: 34px;*/
}

#staff th, #summary-par td,#summary-par th{
	text-align: center!important;
	vertical-align:middle;
}

input[type="checkbox"] {
	margin: 0px!important;
}

.ui-widget { 
	font-size: 0.8em!important; 
}

#search{
	margin-right: 4px;
}
