{% extends "base.html" %}

{% block title %}Apartments{% endblock %}

{% block content %}
    <form action="/appartments/" method="get">
        {% include "includes/dates.html" %}
        {% include "includes/apartment_filter.html" %}
        {% include "includes/search_filter.html" %}
    </form>
        {% include "includes/errors.html" %}
        {% include "includes/filter.html" %}
        {% include "includes/info.html" %}

    <table class="table table-hover" id="table">
      <tr id="titles">
        <th></th>
        <th>Appartment</th>
        <th>Rooms</th>
        <th>Beds</th>
        <th>Damages</th>
        <th>Rates</th>
      </tr>
      {% for a, c, h in result %}
        <tr>
          <td> {{ forloop.counter }}</td>
          <td> <a target="_blank" href="/admin/reception/appartment/{{ a.id }}/">{{ a }}</a> </td>
          <td> {{ a.rooms }}</td>
          <td> {{ a.beds }}</td>
          <td>
          {% for d in a.damages.all %}
            {% if not d.fixed %}
              {{ d.tag }},
            {% endif %}
          {% endfor %}
          </td>
          <td> <span rel="tooltip" title="{{ a.rates|join:", " }}"><span class="badge">R</span> </span></td>
        </tr>
        {% for r in c %}
          <tr class="inlineres">
            <td> <a href="/admin/reception/reservation/{{ r.id }}/"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
            <td>
              {% with r.owner as person %}
                {% include "includes/person_display.html" %}
              {% endwith %}
            </td>
            <td> {{ r.get_agent_display }} </td>
            <td>{{ r.period }} </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {% include "includes/status.html" %} </td>
          </tr>
        {% endfor %}
        {% for r in h %}
          <tr class="inlineres">
            <td><a href="/admin/reception/reservation/{{ r.id }}/"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
            <td>
              {% with r.owner as person %}
                {% include "includes/person_display.html" %}
              {% endwith %}
            </td>
            <td> {{ r.get_agent_display }} </td>
            <td> {{ r.period }} </td>
            <td> {{ r.get_res_type_display }} </td>
            <td>{% include "includes/status.html" %}</td>
          </tr>
        {% endfor %}
      {% endfor %}
      <tr>
        <td></td>
        <td><b>Total:</b></td>
        <td>{{ rooms }}</td>
        <td>{{ beds }}</td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <a href="#" class="scrollup">Scroll</a>
{% endblock %}
