{% extends "base.html" %}

{% block title %}Search for Available Appartments{% endblock %}

{% block content %}
    <h3>Availability</h3><br>
    <form action="/availability/" method="get">
        <div class="form-row">
                {% if date_errors %} <div class="alert alert-error" > {{ date_errors }} </div> {% endif %}
        </div>
        {% include "includes/dates.html" %}
        {% include "includes/apartment_filter.html" %}
        {% include "includes/search_filter.html" %}
    </form>
      {% include "includes/info.html" %}
      <table class="table table-hover" id="table">
        <tr id="titles">
          <th></th>
          <th>Appartment</th>
          <th>Rooms</th>
          <th>Beds</th>
          <th>Category</th>
          <th>Damages</th>
        </tr>
        {% for a in avail %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td> <a target="_blank" href="/admin/reception/appartment/{{ a.id }}/">{{ a }}</a> </td>
          <td>{{ a.rooms }}</td>
          <td>{{ a.beds }}</td>
          <td>{{ a.category }}</td>
          <td>
            {% for d in a.damages.all %}
              {% if not d.fixed %}
                {{ d.tag }},
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>   
{% endblock %}
