{% extends "base.html" %}

{% block title %}Search for Available Appartments{% endblock %}
{% block content %}
    <form action="/availability/" method="get">
      <div class="row"> 
        <div class="col-md-6">
                {% if date_errors %}
                <div class="alert alert-danger" ><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ date_errors }} </div> 
                {% endif %}
        </div>
      </div>
        {% include "includes/dates.html" %}
        {% include "includes/apartment_filter.html" %}
        <div class="row">
        {% include "includes/search_filter.html" %}
        </div>
    </form>
      {% include "includes/info.html" %}
      <table class="table table-hover" id="table">
        <tr id="titles">
          <th></th>
          <th>Appartment</th>
          <th>Rooms</th>
          <th>Beds</th>
          <th>Category</th>
          <th>Damages</th>
        </tr>
        {% for a in avail %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td> <a target="_blank" href="/admin/reception/appartment/{{ a.id }}/">{{ a }}</a> </td>
          <td>{{ a.rooms }}</td>
          <td>{{ a.beds }}</td>
          <td>{{ a.category }}</td>
          <td>
            {% for d in a.damages.all %}
              {% if not d.fixed %}
                {{ d.tag }},
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>   
{% endblock %}
