<!DOCTYPE html>
<html>
    <head>
    	<title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% include "includes/css.html" %}
    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="/static/reception/js/html5shiv.js"></script>
	      <script src="/static/reception/js/respond.min.js"></script>
	    <![endif]-->
    </head>
<body>
{% include "includes/menu.html" %}
<br>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <a href="#" class="scrollup">Scroll</a>
  {% include "includes/scripts.html" %}
</body>
</html>
