{% extends "base.html" %}

{% block title %}List of Damages{% endblock %}

{% block content %}
    <h3>Damages</h3> <br>

    <form action="/damages/" method="GET">
      <div class="orderfixed" id="dmg">
        <i class="glyphicon glyphicon-chevron-right" id="fhide"></i>
        {% include "includes/search_filter.html" %}
      </div>
      <div class="col-md-3" id="sbox">
        <input class="form-control" tabindex=1 type="search" id ="search" size="20" placeholder="Type to filter" />
      </div>
    </form>
    <span style="float:right;">{{ date }}</span>
    <table class="table table-hover table-condensed" id="table">
      <tr id="titles">
        <th></th>
        <th>Appartment</th>
        <th>Tag</th>
        <th>Info</th>
      </tr>
      {% for d in damages %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a target="_blank" href="/admin/reception/appartment/{{ d.appartment.id }}/">{{ d.appartment }}</a></td>
        <td>{{ d.tag }}</td>
        <td>{{ d.info }}</td>
      {% endfor %}
    </table>
    <a href="#" class="scrollup">Scroll</a>
{% endblock %}
