{% extends "base.html" %}

{% block title %}Info{% endblock %}

{% block content %}
    <form action="/info/" method="GET">
      {% include "includes/dates.html" %}
      {% include "includes/reservation_filter.html" %}
      {% include "includes/search_filter.html" %}
    </form>
    {% include "includes/filter.html" %}
    {% include "includes/info.html" %}
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Vehicles</th>
        <th>Contacts</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% with r.owner as person %}
              {% include "includes/person_display.html" %}
            {% endwith %}
            {% include "includes/status.html" %}
        </td>
        <td> {{ r.get_agent_display }} </td>

        <td>
        {% for v in r.owner.vehicles.all %}
          {{ v.plate }}<br>
        {% endfor %}
        </td>
        <td>
        {% for c in r.owner.contacts.all %}
          {{ c.mobile }}<br>
        {% endfor %}
        </td>
        <td><a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a></td>
        <td> <a target="_blank" href="/admin/reception/appartment/{{ r.appartment.id }}/">{{ r.appartment }}</a> </td>
        <td>{{ r.get_res_type_display }}</td>
        <td>
        {% for p in r.receipts.all %}
          {{ p.no }}<br>
        {% endfor %}
        </td>
        {% for rel in r.owner.relatives.all %}
          <tr class="inlineres">
            <td> <a href="/admin/reception/person/{{ rel.id }}/"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
            <td>
		{{ rel.info }}
            </td>
            <td> {{ rel.relationship }} </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
{% endblock %}
