{% extends "base.html" %}

{% block title %}List for Logistic{% endblock %}

{% block content %}
    <form action="/logistic/" method="GET">
    {% include "includes/dates.html" %}
    {% include "includes/reservation_filter.html" %}
    <div class="orderfixed" id="logi">
    {% include "includes/search_filter.html" %}
    </div>
    </form>
    {% include "includes/info.html" %}
    <form class="form" role="form" action="/logistic/" method="GET">
  <div class="col-md-3" id="sbox">
  <input class="form-control" tabindex=1 type="search" id ="search" size="20" placeholder="Type to filter" />
  </div>
</form>
    <table class="table table-hover table-condensed" id="table">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Appartment</th>
        <th>Receipt</th>
        <th>Euro</th>
      </tr>
      {% for r in receipts %}
      <tr {% if r.pending %} class="error" {% endif %}>
        <td>{{ forloop.counter }}</td>
        {% with r.reservation as res %}
            {% with res.owner as person %}
            <td> {% include "includes/person_display.html" %} </td>
            {% endwith %}
          <td> {{ res.appartment }} </td>
        {% endwith %}
        <td> {{ r.no }} </td>
        <td> {{ r.euro|floatformat:2 }} </td>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Sum:</b></td>
        <td><b>{{ sum|floatformat:2 }}</b></td>
      </tr>
    </table>
{% endblock %}
