{% extends "base.html" %}

{% block title %}List for Logistic{% endblock %}

{% block content %}
    <form action="/logistic/" method="GET">
    {% include "includes/dates.html" %}
    {% include "includes/reservation_filter.html" %}
    {% include "includes/search_filter.html" %}
    </form>
    {% include "includes/filter.html" %}
    {% include "includes/info.html" %}
    <table class="table table-hover table-condensed" id="table">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Appartment</th>
        <th>Receipt</th>
        <th align="right">Euro</th>
      </tr>
      {% for r in receipts %}
      <tr {% if r.pending %} class="error" {% endif %}>
        <td>{{ forloop.counter|add:offset }}</td>
        {% with r.reservation as res %}
            {% with res.owner as person %}
            <td> {% include "includes/person_display.html" %} </td>
            {% endwith %}
          <td> {{ res.appartment }} </td>
        {% endwith %}
        <td> {{ r.no }} </td>
        <td align="right"> {{ r.euro|floatformat:2 }} </td>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Sum:</b></td>
        <td align="right"><b>{{ sum|floatformat:2 }}</b></td>
      </tr>
    </table>
    {% if pg %}
      {% with receipts as objects %}
        {% include "includes/paginator.html" %}
      {% endwith %}
    {% endif %}
{% endblock %}
