{% extends "base.html" %}

{% block title %}Persons{% endblock %}

{% block content %}
    <form action="/lookup/" method="get">
        {% include "includes/lookup.html" %}
        {% include "includes/search_filter.html" %}
    </form> 

    {% include "includes/errors.html" %}
    {% include "includes/filter.html" %}
    {% include "includes/info.html" %}
    <table class="table table-hover" id="table">
        <tr id="titles">
        <th></th>
        <th>Person</th>
        <th>Contacts</th>
        <th>Vehicles</th>
        <th>Reservations</th>
      </tr>
      {% for p in persons %}
      <tr>
        <td> {{ forloop.counter }}</td>
        {% with p as person %}
          <td> {% include "includes/person_display.html" %} </td>
        {% endwith %}
        <td>
        {% for c in p.contacts.all %}
            {{ c.mobile }}<br>
        {% endfor %}
        </td>
        <td>
        {% for v in p.vehicles.all %}
            {{ v.plate }}<br>
        {% endfor %}
        </td>
        <td>
        {% for r in p.reservations.all %}
            {{ r.details }}<br>
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
      {% if errors %}
      <tr>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
      </tr>
      {% endif %}
    </table>
{% endblock %}
