{% extends "base.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}
    <form class="form" role="form" action="/reservations/" method="GET">
      {% include "includes/dates.html" %}
      {% include "includes/reservation_filter.html" %}
      <div class="row">
        {% include "includes/search_filter.html" %}


    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="errors" type="checkbox" name="errors">Errors
      </label>
      </div>
    </div>
          <div class="col-md-3 col-md-offset-4">
      <div class="form-group"> 
      <select class="form-control" name="order" style="">
          <option value="">Order by</option>
          <option value="name">Name</option>
          <option value="apartment">Apartment</option>
      </select>
      </div>
      </div>
      </div>
    </form>
<div class="row">
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="rt0" type="checkbox" name="rt0" checked>TAKTIKOΣ
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="rt1" type="checkbox" name="rt1" checked>ΠΑΡ/ΣΤΗΣ
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="rt2" type="checkbox" name="rt2" checked>ΟΣΣΕΑΥ
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="rt3" type="checkbox" name="rt3" checked>ΜΟΝΑΔΑ
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="rt4" type="checkbox" name="rt4" checked>ΣΧΟΛΕΙΑ
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="rt5" type="checkbox" name="rt5" checked>CLIMS
      </label>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="ra0" type="checkbox" name="ra0" checked>Pending
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="ra1" type="checkbox" name="ra1" checked>Confirmed
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="ra2" type="checkbox" name="ra2" checked>Canceled
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="ra3" type="checkbox" name="ra3" checked>Checked Out
      </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
      <label>
        <input id="ra4" type="checkbox" name="ra4" checked>Unknown
      </label>
      </div>
    </div>
</div>

    {% include "includes/info.html" %}
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr class="shw rt{{r.res_type}} ra{{r.status}} {% if r.notifications.1 %}danger{% elif r.notifications.0 %}nodanger{% else %}ok{% endif %}">
            <td>
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.get_agent_display }} </td>
            <td>
                    <a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a>
            </td>
            <td>
                <span rel="tooltip" title="Rooms:{{ r.appartment.rooms }}  | Beds:{{ r.appartment.beds }}">
                    <a target="_blank" href="/admin/reception/appartment/{{ r.appartment.id }}/">{{ r.appartment }}</a>
                </span>
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.notifications.0 %}
                  <span rel="tooltip" class="n{{ r.notifications.0|join:" n" }}"> <span class="badge badge-important">E</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>

{% endblock %}
