{% extends "base.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}
    <h3>Reservations {% if period %}-<small class="subtext-h3"> Period {{ period.name }}</small>{% endif %}</h3><br>
    <form action="/reservations/" method="GET">
      {% include "includes/dates.html" %}
      {% include "includes/reservation_filter.html" %}
      {% include "includes/search_filter.html" %}
      <select name="order" style="margin-left: 132px;">
          <option value="">Order by</option>
          <option value="name"> Name</option>
          <option value="apartment"> Apartment</option>
      </select>
    </form>
    <input id="warnings" type="checkbox" name="warnings"> Warnings
    <input id="errors" type="checkbox" name="errors"> Errors
    {% include "includes/info.html" %}
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr {% if r.errors and r.warnings %} class="error warnings" {% elif r.errors %} class="error" {% elif r.warnings %} class="warnings" {% else %} class="ok" {% endif %}>
            <td>
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.agent }} </td>
            <td>
                    <a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a>
            </td>
            <td>
                <span rel="tooltip" title="Rooms:{{ r.appartment.rooms }}  | Beds:{{ r.appartment.beds }}">
                    <a target="_blank" href="/admin/reception/appartment/{{ r.appartment.id }}/">{{ r.appartment }}</a>
                </span>
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.errors %}
                  <span rel="tooltip" title="{{ r.errors|join:", " }}"> <span class="badge badge-important">E</span> </span>
              {% endif %}
            </td>
            <td>
              {% if r.warnings %}
                  <span rel="tooltip" title="{{ r.warnings|join:", " }}"> <span class="badge badge-warning">W</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
<script type="text/javascript"> $('[rel=tooltip]').tooltip(); </script>
{% endblock %}
