{% extends "base.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}
    <h3>Reservations {% if period %}-<small class="subtext-h3"> Period {{ period.name }}</small>{% endif %}</h3><br>
    <form class="form" role="form" action="/reservations/" method="GET">
      {% include "includes/dates.html" %}
      {% include "includes/reservation_filter.html" %}
      <div class="row">
      <div class="col-md-3">
      <div class="form-group"> 
      <select class="form-control" name="order" style="">
          <option value="">Order by</option>
          <option value="name">Name</option>
          <option value="apartment">Apartment</option>
      </select>
      </div>
      </div>
    <div class="col-md-1">
    <div class="checkbox">
    <label>
      <input id="warnings" type="checkbox" name="warnings">Warnings
    </label>
    </div>
    </div>
    <div class="col-md-1">
      <div class="checkbox">
      <label>
        <input id="errors" type="checkbox" name="errors">Errors
      </label>
      </div>
    </div>
      </div>
      <div class="row">
      {% include "includes/search_filter.html" %}
      </div>
    </form>



    {% include "includes/info.html" %}
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr {% if r.errors and r.warnings %} class="warnings danger" {% elif r.warnings %} class="warnings" {% elif r.errors %} class="danger" {% else %} class="ok" {% endif %}>
            <td>
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.agent }} </td>
            <td>
                    <a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a>
            </td>
            <td>
                <span rel="tooltip" title="Rooms:{{ r.appartment.rooms }}  | Beds:{{ r.appartment.beds }}">
                    <a target="_blank" href="/admin/reception/appartment/{{ r.appartment.id }}/">{{ r.appartment }}</a>
                </span>
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.errors %}
                  <span rel="tooltip" title="{{ r.errors|join:", " }}"> <span class="badge badge-important">E</span> </span>
              {% endif %}
            </td>
            <td>
              {% if r.warnings %}
                  <span rel="tooltip" title="{{ r.warnings|join:", " }}"> <span class="badge badge-warning">W</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>

{% endblock %}
