{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
  <form action="/stats/" method="get">
    {% include "includes/dates.html" %}
    {% include "includes/stats_checkboxes.html" %}
    {% include "includes/search_filter.html" %}
  </form>
<style type="text/css">#info{float: none;font-weight: bold;}h4 small{font-weight: bold;line-height: 2;color: black;text-decoration: underline;}</style>
  {% include "includes/errors.html" %}
  {% include "includes/info.html" %}
<table class="table table-bordered" style="width:37%">
<tr id=titles>
  <th> <b>Reservations</b> </th>
  <th> <b>Persons</b> </th>
  <th> <b>Euros</b> </th>
</tr>
<tr>
  <td> {{ total }} </td>
  <td> {{ persons }} </td>
  <td> {{ euros }} </td>
</tr>
<table class="table table-bordered">
<tr id=titles>
  <th> <b>ΓΕΑ/Β3</b> </th>
  <th> <b>Ε.Α.</b> </th>
  <th> <b>Μ.Υ.</b> </th>
  <th> <b>ΠΑΡ/ΣΤΕΣ</b> </th>
  <th> <b>ΜΟΝΑΔΑ</b> </th>
  <th> <b>ΟΣΣΕΑΥ</b> </th>
  <th> <b>ΑΓΑΜΩΝ</b> </th>
</tr>
<tr>
  <td> {{ b3 }} </td>
  <td> {{ ea }} </td>
  <td> {{ my }} </td>
  <td> {{ paratheristes }} </td>
  <td> {{ monada }} </td>
  <td> {{ osseay }} </td>
  <td> {{ agamon }} </td>
</tr>
<!--
                <tr>
                  <td>
                      <i class="glyphicon glyphicon-chevron-right"></i>Persons<br>
                      <i class="glyphicon glyphicon-chevron-right"></i>Euros
                  </td>
                  <td>{{ total }}<br>{{ persons }}<br>{{ euros }}</td>
                </tr>
                <tr>
                  <td>
                      ΤΑΚΤΙΚΟΙ<br>
                      <i class="glyphicon glyphicon-chevron-right"></i> ΓΕΑ/Β3<br>
                      <i class="glyphicon glyphicon-chevron-right"></i> Ε.Α.<br>
                      <i class="glyphicon glyphicon-chevron-right"></i> M.Y.
                  </td>
                  <td>{{ regular }}<br> {{ b3 }}<br>{{ ea }}<br>{{ my }} </td>
                </tr>
                <tr>
                  <td>
                      ΠΑΡ/ΣΤΕΣ<br>
                  </td>
                  <td>{{ paratheristes }}</td>
                </tr>
                <tr>
                  <td>ΜΟΝΑΔΑ</td>
                  <td>{{ monada }}</td>
                </tr>
                <tr>
                  <td>ΟΣΣΕΑΥ</td>
                  <td>{{ osseay }}</td>
                </tr>
              </tbody>
--!>
</table>
<style type="text/css">
object {
    width: 100%;
    height: 300px;
    border: 0
}
</style>
<object type="application/pdf" data="/graphs/">

    {% if show %}

    {% include "includes/filter.html" %}
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr {% if r.errors %} class="error" {% endif %}>
            <td >
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.agent }} </td>
            <td>
                    {{ r.period }}
            </td>
            <td>
                    {{ r.appartment }}
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.errors %}
                  <span rel="tooltip" title="{{ r.errors|join:", " }}"> <span class="badge badge-important">E</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
{% endblock %}
