{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <h3>Stats {% if period %}-<small class="subtext-h3"> Period {{ period.name }}</small>{% endif %}</h3><br>
    <form action="/stats/" method="get">
        {% include "includes/dates.html" %}
        <div class="row">
        {% include "includes/search_filter.html" %}
        
  <div class="col-md-1">
    <div class="checkbox">
      <span rel="tooltip" title="Visitors with CONFIRMED status" data-placement="bottom"><input type="checkbox" name="live">Live</span>
    </div>
  </div>
    <div class="col-md-1">
        <div class="checkbox">
          <span rel="tooltip" title="Show list of visitors" data-placement="right"><input type="checkbox" name="show">Show</span>
        </div>
    </div>
  </div>
  
    </form>
    <style type="text/css">#info{float: none;font-weight: bold;}h4 small{font-weight: bold;line-height: 2;color: black;text-decoration: underline;}</style>
{% include "includes/info.html" %}
<table class="table table-bordered" style="width: 37%">
<tbody>
                <tr>
                  <td>
                      <b>Reservations</b><br>
                      <i class="icon-chevron-right"></i>Persons<br>
                      <i class="icon-chevron-right"></i>Euros
                  </td>
                  <td>{{ total }}<br>{{ persons }}<br>{{ euros }}</td>
                </tr>
                <tr>
                  <td>
                      ΤΑΚΤΙΚΟΙ<br>
                      <i class="icon-chevron-right"></i> ΓΕΑ/Β3<br>
                      <i class="icon-chevron-right"></i> Ε.Α.<br>
                      <i class="icon-chevron-right"></i> M.Y.
                  </td>
                  <td>{{ regular }}<br> {{ b3 }}<br>{{ ea }}<br>{{ my }} </td>
                </tr>
                <tr>
                  <td>
                      ΠΑΡ/ΣΤΕΣ<br>
                  </td>
                  <td>{{ paratheristes }}</td>
                </tr>
                <tr>
                  <td>ΜΟΝΑΔΑ</td>
                  <td>{{ monada }}</td>
                </tr>
                <tr>
                  <td>ΟΣΣΕΑΥ</td>
                  <td>{{ osseay }}</td>
                </tr>
              </tbody>
</table>

   

    {% if show %}

    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr {% if r.errors %} class="error" {% endif %}>
            <td >
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.agent }} </td>
            <td>
                    {{ r.period }}
            </td>
            <td>
                    {{ r.appartment }}
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.errors %}
                  <span rel="tooltip" title="{{ r.errors|join:", " }}"> <span class="badge badge-important">E</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
<script type="text/javascript"> $('[rel=tooltip]').tooltip(); </script>

{% endblock %}
