{% extends "base.html" %}

{% block title %}Home @ ΚΕΑΔ/Ζ{% endblock %}

{% block content %}
<style type="text/css">
img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
img:hover {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.container{margin-right: auto!important;}
</style>
<div id="container">
    <img src="/static/reception/keda_z.jpg" alt="keda" style="display:block;margin-left:auto;margin-right:auto;width:180px;">
    <br><br>
    <h2 style="text-align:center;">Welcome to the new KEDA/Z site, {{ username }}!</h2>
    <br>
    <hr>
    <h6 style="text-align:center;">{{ now }}</h6>
</div>
{% endblock %}
