<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
    <li class="active"><a href="#" id="page-title">Home</a></li>
      <li><a href=/>Site</a></li>
      <li><a href=/admin/reception/ target="_blank">Admin</a></li>
    </ul>

    <ul class="nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reception <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/reservations/>Reservations</a></li>
    		<li><a href=/availability/>Availability</a></li>
    		<li><a href=/persons/>Persons</a></li>
    		<li><a href=/stats/>Stats</a></li>
	    </ul>
	  </li>
	</ul>

    <ul class="nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Lists <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/th/ target="_blank">T.H.</a></li>
    		<li><a href=/damages/ target="_blank">Damages</a></li>
        <li><a href=/logistic/ target="_blank">Logistic</a></li>
        <li><a href=/appartments/ target="_blank">Appartments</a></li>
        <li><a href=/info/ target="_blank">Info</a></li>
    		<li><a href=/test/ target="_blank">Test Page</a></li>
	    </ul>
	  </li>
	</ul>

    <ul class="nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Personel Office <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/parousiologio/ target="_blank">Παρουσιολόγιο</a></li>
	    </ul>
	  </li>
	</ul>

    <ul class="nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Facilities <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/media/paralia_anotaton.png target="_blank">Παραλία Ανωτάτων</a></li>
	    	<li><a href=/media/paralia.png target="_blank">Παραλία</a></li>
        <li><a href=/gmap/ target="_blank">Map</a></li>
	    </ul>
	  </li>
	</ul>
<a class="brand" id="logout" href='/accounts/logout/'>Logout</a></p>
  </div>
</div>
