
            {% if r.owner.militaryperson %}
                {% if r.owner.militaryperson.visitor %}
                    <a href="/admin/reception/visitor/{{ r.owner.id }}/">{{ r.owner.militaryperson.visitor.info }}</a >
                {% else %}
                    <a href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.militaryperson.info }}</a >
                {% endif %}

            {% else %}
                <a href="/admin/reception/person/{{ r.owner.id }}/">{{ r.owner }}</a >
            {% endif %}
