<!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> -->
<link href="/media/css/bootstrap.min.css" rel="stylesheet">
<link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/media/css/dimara.css" /> -->
<link rel="stylesheet" type="text/css" href="/media/css/main.css">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<!-- <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script> -->
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/media/js/jquery-1.10.1.min.js"></script> -->
<script type="text/javascript" src="/media/js/main.js"></script>
<script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<!-- <script type="text/javascript" src="/static/admin/js/actions.min.js"></script> -->
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
