map $server_name $server_ip_or_name {
    default 127.0.0.1;
}

server {
    listen       80;
    rewrite ^ https://$server_ip_or_name$request_uri? permanent;
}
server {
    listen   443;

    ssl  on;
    ssl_certificate  /etc/nginx/certs/certificate.pem;
    ssl_certificate_key  /etc/nginx/certs/key.pem;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
    ssl_prefer_server_ciphers   on;

    location /static {
        alias /root/keda/staticfiles;
    }
    location /lists/results {
        alias /root/keda/lists/results;
        autoindex on;
    }
    location ~ ^/cgi-bin/.*\.cgi$ {
        gzip           off;
        root /var/www;
        include fastcgi_params;
        fastcgi_pass   unix:/var/run/fcgiwrap.socket;
        fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    }
    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Forwarded-For  $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_connect_timeout 10;
        proxy_read_timeout 10;
        proxy_pass http://127.0.0.1:8888/;
    }
    charset utf-8;
    charset_types text/css application/json text/plain application/liquid;
}

