<div class="hidden-print chkfixed">
    <div class="">
      <label>
        Confirmed<input id="ra1" type="checkbox" name="ra1" checked>
      </label>
      <label>
        <input id="rt1" type="checkbox" name="rt1" checked>ΠΑΡ/ΣΤΗΣ
      </label>
    </div>
    <div class="">
      <label>
        Checked Out<input id="ra3" type="checkbox" name="ra3" checked>
      </label>
      <label>
        <input id="rt3" type="checkbox" name="rt3" checked>ΜΟΝΑΔΑ
      </label>
    </div>
    <div class="">
      <label>
        Unknown<input id="ra4" type="checkbox" name="ra4" checked>
      </label>
      <label>
        <input id="rt5" type="checkbox" name="rt5" checked>CLIMS
      </label>
    </div>
    <div class="">
      <label>
        Pending<input id="ra0" type="checkbox" name="ra0" checked>
      </label>
      <label>
        <input id="rt0" type="checkbox" name="rt0" checked>TAKTIKOΣ
      </label>
    </div>
    <div class="">
      <label>
        Canceled<input id="ra2" type="checkbox" name="ra2" checked>
      </label>
      <label>
        <input id="rt2" type="checkbox" name="rt2" checked>ΟΣΣΕΑΥ
      </label>
    </div>
    <div class="">
      <label>
        Errors<input id="errors" type="checkbox" name="errors">
      </label>
      <label>
        <input id="rt4" type="checkbox" name="rt4" checked>ΣΧΟΛΕΙΑ
      </label>
    </div>
</div>