<div class="hidden-print chkfixed">
    <div class="">
      <!-- <div class="checkbox"> -->
      <label>
        <input id="rt0" type="checkbox" name="rt0" checked>TAKTIKOΣ
      </label>
      <!-- </div> -->
<!--     </div>
    <div class="col-md-2"> -->
      <!-- <div class="checkbox"> -->
      <label>
        <input id="rt1" type="checkbox" name="rt1" checked>ΠΑΡ/ΣΤΗΣ
      </label>
      <!-- </div> -->
    </div>
    <div class="">
      <!-- <div class="checkbox"> -->
      <label>
        <input id="rt2" type="checkbox" name="rt2" checked>ΟΣΣΕΑΥ
      </label>
      <!-- </div> -->
<!--     </div>
    <div class="col-md-2"> -->
      <!-- <div class="checkbox"> -->
      <label>
        <input id="rt3" type="checkbox" name="rt3" checked>ΜΟΝΑΔΑ
      </label>
      <!-- </div> -->
    </div>
    <div class="">
      <!-- <div class="checkbox"> -->
      <label>
        <input id="rt4" type="checkbox" name="rt4" checked>ΣΧΟΛΕΙΑ
      </label>
      <!-- </div> -->
<!--     </div>
    <div class="col-md-2"> -->
      <!-- <div class="checkbox"> -->
      <label>
        <input id="rt5" type="checkbox" name="rt5" checked>CLIMS
      </label>
      <!-- </div> -->
    </div>
<!-- </div> -->

<!-- <div class="fixed2 hidden-print"> -->
    <div class="">
      <!-- <div class="checkbox"> -->
      <label>
        <input id="ra0" type="checkbox" name="ra0" checked>Pending
      </label>
      <!-- </div> -->
<!--     </div>
    <div class="col-md-2"> -->
      <!-- <div class="checkbox"> -->
      <label>
        <input id="ra1" type="checkbox" name="ra1" checked>Confirmed
      </label>
      <!-- </div> -->
    </div>
    <div class="">
      <!-- <div class="checkbox"> -->
      <label>
        <input id="ra2" type="checkbox" name="ra2" checked>Canceled
      </label>
      <!-- </div> -->
<!--     </div>
    <div class="col-md-2"> -->
      <!-- <div class="checkbox"> -->
      <label>
        <input id="ra3" type="checkbox" name="ra3" checked>Checked Out
      </label>
      <!-- </div> -->
    </div>
    <div class="">
      <!-- <div class="checkbox"> -->
      <label>
        <input id="ra4" type="checkbox" name="ra4" checked>Unknown
      </label>
      <!-- </div> -->
<!--     </div>
    <div class="col-md-2"> -->
      <!-- <div class="checkbox"> -->
      <label>
        <input id="errors" type="checkbox" name="errors">Errors
      </label>
      <!-- </div> -->
    </div>
</div>