<div class="fixed1"> 
<!-- <div class="col-md-3"> -->
<div class="form-group">
    <select class="form-control" name="period">
        <option value="">Period..</option>
        {% for p in periods %}
        <option value="{{ p.id }}"> Period: {{ p.name }}: Από {{ p.start }} έως {{ p.end }}</option>
        {% endfor %}
    </select>
</div>
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<div class="form-group">
    <input class="form-control" placeholder="From.." type="text" name="start" id="dp1"/>
</div>
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<div class="form-group">
    <input class="form-control" placeholder="Until.." type="text" name="end" id="dp2"/>
</div>
<!-- </div> -->
<!-- <div class="col-md-2"> -->
<div class="checkbox">
	<label>
		<input type="checkbox" name="exact"> Exact Dates
	</label>
</div>
<!-- </div> -->
</div>