        {% if period or start or end or area or category or rtype or status or damaged %}
        <div id="info"> 
            <h4><small>
            {% if period %} Period {{ period.name }}: {% endif %}
            {% if start %} IN @ {{ start }} ... {% endif %}
            {% if end %} OUT @ {{ end }} {% endif %}
            {% if area %}, Area {{ area }} {% endif %}
            {% if category %}, Category {{ category }} {% endif %}
            {% if rtype %}, Type {{ rtype }} {% endif %}
            {% if status %}, Status {{ status }} {% endif %}
            {% if damaged %}, + Damaged {% endif %}
            {% if text %}, Matching {{ text }} {% endif %}
            {% if inside %} inside {{ inside }} {% endif %}
            | Reservations: <span id="cntr"></span> | Errors: <span id="ecntr"></span>
            </small></h4>
        </div>
        {% endif %}