        <div id="info"> 
            <h5>
            {% if title %} <b> {{ title }} </b> {% endif %}
            {% if period %} Period {{ period.name }}: {% endif %}
            {% if start %} {{ start }} ... {% endif %}
            {% if end %} {{ end }} {% endif %}
            {% if area %}, Area {{ area }} {% endif %}
            {% if category %}, Category {{ category }} {% endif %}
            {% if rtype %}, Type {{ rtype }} {% endif %}
            {% if agent %}, Agent {{ agent }} {% endif %}
            {% if status %}, Status {{ status }} {% endif %}
            {% if damaged %}, + Damaged {% endif %}
            {% if text %}, Matching {{ text }} {% endif %}
            {% if inside %} inside {{ inside }} {% endif %}
            </h5>
        </div>
