<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    <li class="active"><a href="#" ><span id="page-title">Home</span>{% if period %} - <small>Period {{ period.name }}</small>{% endif %}</a></li>
      <li><a href=/>Site</a></li>
      <li><a href=/admin/reception/ target="_blank">Admin</a></li>
    </ul>

    <ul class="nav navbar-nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reception <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/reservations/>Reservations</a></li>
    		<li><a href=/availability/>Availability</a></li>
    		<li><a href=/persons/>Persons</a></li>
    		<li><a href=/stats/>Stats</a></li>
	    </ul>
	  </li>
	</ul>

    <ul class="nav navbar-nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Lists <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/th/ target="_blank">T.H.</a></li>
    		<li><a href=/damages/ target="_blank">Damages</a></li>
        <li><a href=/logistic/ target="_blank">Logistic</a></li>
        <li><a href=/appartments/ target="_blank">Appartments</a></li>
        <li><a href=/info/ target="_blank">Info</a></li>
    		<li><a href=/test/ target="_blank">Test Page</a></li>
	    </ul>
	  </li>
	</ul>

    <ul class="nav navbar-nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Personel Office <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/parousiologio/ target="_blank">Παρουσιολόγιο</a></li>
	    </ul>
	  </li>
	</ul>

    <ul class="nav navbar-nav">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Facilities <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		    <li><a href=/static/reception/paralia_anotaton.png target="_blank">Παραλία Ανωτάτων</a></li>
	    	<li><a href=/static/reception/paralia.png target="_blank">Παραλία</a></li>
        <li><a href=/gmap/ target="_blank">Map</a></li>
	    	<li><a href=/graphs/ target="_blank">Graphs</a></li>
	    </ul>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href='/accounts/logout/'>Log out</a></li>
	</ul>
  </div>
</nav>
