    <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a href="{{ request.get_full_path }}&page=1">First</a>
                <a href="{{ request.get_full_path }}&page={{ objects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
            </span>

            {% if objects.has_next %}
                <a href="{{ request.get_full_path }}&page={{ objects.next_page_number }}">Next</a>
                <a href="{{ request.get_full_path }}&page={{ objects.paginator.num_pages }}">Last</a>
            {% endif %}

        </span>
    </div>
