<div class="row"> 
<div class="col-md-3">
<div class="form-group">
    <select class="form-control" name="rtype" >
        <option value="">Reservation Type (All)</option>
        {% for t in rtypes %}
        <option value="{{ t.0 }}"> {{ t.1 }}</option>
        {% endfor %}
    </select>
</div>
</div>
<div class="col-md-3">
<div class="form-group">        
    <select class="form-control" name="status" >
        <option value="">Reservation Status (All)</option>
        {% for s in statuses %}
        <option value="{{ s.0 }}"> {{ s.1 }}</option>
        {% endfor %}
    </select>
</div>
</div>
</div>