<style type="text/css">
* {
  margin: 0;
  padding: 0;
  border: 0;
}
</style>
<link type="text/css" href="/static/reception/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="/static/reception/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/reception/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/reception/css/jquery-ui.css" />

<script type="text/javascript" src="/static/reception/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/reception/js/jquery-ui.js"></script>

<script type="text/javascript" src="/static/reception/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/reception/js/main.js"></script>
