<div class="orderfixed form-group"> 
    <select class="form-control" name="order" style="">
          <option value="">Order by</option>
          <option value="name">Name</option>
          <option value="apartment">Apartment</option>
     </select>
    <div class="form-group">
          <button type="submit" class="btn btn-default"></span> Search</button>
          <div class="sckb">
          <label> file <input type="checkbox" name="log"> </label>
          <label> cvs <input type="checkbox" name="cvs"> </label>
          </div>
    </div>
</div>
