<div class="orderfixed form-group"> 
    <select class="form-control" name="order" style="">
          <option value="">Order by</option>
          <option value="name">Name</option>
          <option value="apartment">Apartment</option>
     </select>
    <div class="form-group">
          <button type="submit" class="btn btn-default"></span> Search</button>
          <label>txt<input type="checkbox" name="txt"> </label>
          <label>cvs<input type="checkbox" name="cvs"> </label>
          <label>pg<input type="checkbox" name="pg"> </label>
    </div>
</div>
