<div class="row">
  <div class="col-md-3">
    <div class="form-group">
    <input class="form-control" placeholder="Look for.." type="text" name="text" />
    </div><!-- /input-group -->
  </div><!-- /input-group -->
  <div class="col-md-1">
    <div class="form-group">
  @
    </div><!-- /input-group -->
  </div><!-- /input-group -->
  <div class="col-md-3">
    <div class="form-group">
    <select class="form-control" name="inside">
        <option value="surnames"> Surnames</option>
        <option value="vehicles"> Vehicles</option>
    </select>
    </div><!-- /input-group -->
  </div><!-- /input-group -->
</div><!-- /input-group -->