<div class="fixed4">
      <div class="form-group"> 
      <select class="form-control" name="order" style="">
          <option value="">Order by</option>
          <option value="name">Name</option>
          <option value="apartment">Apartment</option>
      </select>
      </div>
      
  <!-- <div class="col-md-3"> -->
  	<!-- <div class="form-group"> -->
    <div class="input-group">
      <!-- <span class="input-group-btn"> -->
        <button type="submit" class="btn btn-default"></span> Search</button>
      <!-- </span> -->
      <!-- <input class="form-control" tabindex=1 type="search" id ="search" size="20" placeholder="Type to filter" /> -->
    <!-- </div>/input-group -->
  </div>
  <!-- </div> -->

<!-- <div class="col-md-3 col-md-offset-4"> -->

<!-- </div> -->
</div>