  <div class="input-group stfixed">
    <div class="checkbox">
      <span rel="tooltip" title="Visitors with CONFIRMED status" data-placement="right">
	<label>Live<input type="checkbox" name="live"></label>
      </span>
    </div>
    <div class="checkbox">
      <span rel="tooltip" title="Show list of visitors" data-placement="right">
	<label>Show<input type="checkbox" name="show"></label>
    </span>
    </div>
    <div class="checkbox">
      <span rel="tooltip" title="Fast search" data-placement="right">
	<label>Fast<input type="checkbox" name="fast"></label>
      </span>
    </div>
  </div>
