  <div class="stfixed">
  <!-- <div class="col-md-1"> -->
    <div class="checkbox">
      <span rel="tooltip" title="Visitors with CONFIRMED status" data-placement="right"><input type="checkbox" name="live">Live</span>
    </div>
  <!-- </div> -->
    <!-- <div class="col-md-1"> -->
        <div class="checkbox">
          <span rel="tooltip" title="Show list of visitors" data-placement="right"><input type="checkbox" name="show">Show</span>
        </div>
        <div class="checkbox">
          <span rel="tooltip" title="Fast search" data-placement="right"><input type="checkbox" name="fast">Fast</span>
        </div>
    <!-- </div> -->
  </div>
