{% extends "base.html" %}

{% block title %}Apartments{% endblock %}

{% block content %}
    <h3>Apartmnets</h3><br>
    <form action="/appartments/" method="get">
        {% include "includes/apartment_filter.html" %}
        {% include "includes/search_filter.html" %}
    </form>
    <table class="table table-hover" id="table">
        <tr id="titles">
        <th></th>
        <th>Appartment</th>
        <th>Category</th>
        <th>Beds</th>
        <th>Damages</th>
        <th>Reservations</th>
        <th>Type</th>
      </tr>
      {% for a in appartments %}
      <tr>
        <td> {{ forloop.counter }}</td>
        <td> <a href="/admin/reception/appartment/{{ a.id }}/">{{ a }}</a> </td>
        <td> {{ a.category }}</td>
        <td> {{ a.beds }}</td>

        <td>
        {% for d in a.damages.all %}
          {% if not d.fixed %}
            {{ d.tag }}<br>
          {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for r in a.reservations.all %}
          {% if r.active %}
            {% include "includes/person_display.html" %}<br>
          {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for r in a.reservations.all %}
          {% if r.active %}
            {{ r.keda.res_type }}<br>
          {% endif %}
        {% endfor %}
        </td>
      {% endfor %}
    </table>
{% endblock %}
