<html>
<head>
    <title>Appartments</title>
    {% include "includes/scripts.html" %}
    <script type="text/javascript" src="/media/js/filter.js"></script>
</head>
<body>
    {% include "includes/menu.html" %}
    <b>Search for Appartments</b><br>
    <input type="text" id="search" size="20" placeholder="Type to search" />
    <table border="1" id="table">
      <tr id="titles">
        <th>Appartment</th>
        <th>Damages</th>
        <th>Reservations</th>
      </tr>
      {% for a in appartments %}
      <tr>
        <td>{{ a }}</td>
        <td>
        {% for d in a.damages.all %}
          {% if not d.fixed %}
            {{ d.info }}<br>
          {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for res in a.reservations.all %}
          {% if res.active %}
            {{ res.owner }}<br>
          {% endif %}
        {% endfor %}
        </td>
      {% endfor %}
    </table>
  </body>
</html>
