{% extends "base.html" %}

{% block title %}Search for Available Appartments{% endblock %}

{% block content %}
    <b>Search for available Appartments based on various criteria</b><br>
    <form action="/availability/" method="get">
        <div class="form-row period">
            {% if date_errors %} <p style="color: red;" > {{ date_errors }} </p> {% endif %}
            <div>
                <input placeholder="Check In" id="id_check_in" type="text" class="vDateField" onkeyup="this.form.submit()"
                       name="check_in" size="10" {% if check_in %} value="{{ check_in }}" {% endif %} />
                <input placeholder="Check Out" id="id_check_out" type="text" class="vDateField" onkeyup="this.form.submit()"
                       name="check_out" size="10" {% if check_out %} value="{{ check_out }}" {% endif %} />
            </div>
        </div>
        <div class="form-row filters">
            <label for="id_area">Area:</label>
                <select name="area" id="id_area" onchange="this.form.submit()" >
                    <option value="">---------</option>
                    {% for a in areas %}
                    <option value="{{ a.0 }}" {% if area == a.0 %} selected="selected" {% endif %}> {{ a.1 }} </option>
                    {% endfor %}
                </select>
            <label for="id_category">Category:</label>
                <select name="category" id="id_category" onchange="this.form.submit()">
                    <option value="">---------</option>
                    {% for c in categories %}
                    <option value="{{ c.id }}" {% if category == c.id %} selected="selected" {% endif %}> {{ c.desc }} </option>
                    {% endfor %}
                </select>
                <label for="id_active" class="vCheckboxLabel">Include Damaged </label>
                <input type="checkbox" name="damaged" id="id_damaged" onchange="this.form.submit()"
                       {% if damaged %} checked="checked" {% endif %} />
        </div>
        <div class="form-row filters">
            <input type="text" id="search" size="20" placeholder="Type to search" />
        </div>
    </form>
      <table border="1" id="table">
        <tr id="titles">
          <th></th>
          <th>Appartment</th>
          <th>Rooms</th>
          <th>Beds</th>
          <th>Category</th>
          <th>Damages</th>
        </tr>
        {% for a in avail %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ a }}</td>
          <td>{{ a.rooms }}</td>
          <td>{{ a.beds }}</td>
          <td>{{ a.category }}</td>
          <td>
            {% for d in a.damages.all %}
              {% if not d.fixed %}
                {{ d.tag }}: {{ d.info }}<br>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
<script type="text/javascript" src="/media/js/filter.js"></script>    
{% endblock %}