{% extends "base.html" %}

{% block title %}Search for Available Appartments{% endblock %}

{% block content %}
    <h3>Search for available Apartments</h3><br>
    <form action="/availability/" method="get">
        <div class="form-row">
                {% if date_errors %} <div class="alert alert-error" > {{ date_errors }} </div> {% endif %}
                <input placeholder="Check In" type="text" class="datepicker" name="check_in" />
                <input placeholder="Check Out" type="text" class="datepicker" name="check_out" />
        </div>
        <div>
                <select name="area" id="id_area">
                    <option value="">Area (All)</option>
                    {% for a in areas %}
                    <option value="{{ a.0 }}"> {{ a.1 }} </option>
                    {% endfor %}
                </select>
                <select name="category" id="id_category">
                    <option value="">Category (All)</option>
                    {% for c in categories %}
                    <option value="{{ c.id }}"> {{ c.desc }} </option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn" value="Search" style="float:right" />
                <input tabindex=1 type="text" id="search" size="20" placeholder="Type to filter" style="float:right" />
                <input id="input_damaged" type="checkbox" name="damaged"> Include Damaged
        </div><br>
        <div class="alert alert-info">
            {% if check_in and check_out %} From {{ check_in }} until {{ check_out }} {% endif %}
            {% if area %} + area {{ area }} {% endif %}
            {% if category %} + category {{ category }} {% endif %}
            {% if damaged %} + DAMAGED {% endif %}
        </div>
    </form>
      <table class="table table-hover" id="table">
        <tr id="titles">
          <th></th>
          <th>Appartment</th>
          <th>Rooms</th>
          <th>Beds</th>
          <th>Category</th>
          <th>Damages</th>
        </tr>
        {% for a in avail %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ a }}</td>
          <td>{{ a.rooms }}</td>
          <td>{{ a.beds }}</td>
          <td>{{ a.category }}</td>
          <td>
            {% for d in a.damages.all %}
              {% if not d.fixed %}
                {{ d.tag }}: {{ d.info }}<br>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
<script type="text/javascript" src="/media/js/filter.js"></script>    
{% endblock %}
