{% extends "base.html" %}

{% block title %}Search for Available Appartments{% endblock %}

{% block content %}
    <h3>Search for available Apartments</h3><br>
    <form action="/availability/" method="get">
        <div class="form-row period">
            {% if date_errors %} <div class="alert alert-error" > {{ date_errors }} </div> {% endif %}
            <div>
                <input placeholder="Check In" id="id_check_in" type="text" class="datepicker" onkeyup="this.form.submit()"
                       name="check_in" size="10" {% if check_in %} value="{{ check_in }}" {% endif %} />
                <input placeholder="Check Out" id="id_check_out" type="text" class="datepicker" onkeyup="this.form.submit()"
                       name="check_out" size="10" {% if check_out %} value="{{ check_out }}" {% endif %} />
            </div>
        </div><br>
        <div class="form-row filters">
            <!-- <label for="id_area">Area:</label> -->
                <select name="area" id="id_area">
                    <option value="">Area (All)</option>
                    {% for a in areas %}
                    <option value="{{ a.0 }}" {% if area == a.0 %} selected="selected" {% endif %}> {{ a.1 }} </option>
                    {% endfor %}
                </select>
            <!-- <label for="id_category">Category:</label> -->
                <select name="category" id="id_category">
                    <option value="">Category (All)</option>
                    {% for c in categories %}
                    <option value="{{ c.id }}" {% if category == c.id %} selected="selected" {% endif %}> {{ c.desc }} </option>
                    {% endfor %}
                </select>
                <label>
                <input id="input_damaged" type="checkbox" name="damaged" {% if damaged %} checked="checked" {% endif %} />Include Damaged
                </label>
                <button type="submit" class="btn">Search</button>
        </div><br>
        <div class="form-row filters">
            <input type="text" id="search" size="20" placeholder="Type to search" />
        </div>
    </form>
      <table class="table table-hover" id="table">
        <tr id="titles">
          <th></th>
          <th>Appartment</th>
          <th>Rooms</th>
          <th>Beds</th>
          <th>Category</th>
          <th>Damages</th>
        </tr>
        {% for a in avail %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ a }}</td>
          <td>{{ a.rooms }}</td>
          <td>{{ a.beds }}</td>
          <td>{{ a.category }}</td>
          <td>
            {% for d in a.damages.all %}
              {% if not d.fixed %}
                {{ d.tag }}: {{ d.info }}<br>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
<script type="text/javascript" src="/media/js/filter.js"></script>    
{% endblock %}
