{% extends "base.html" %}

{% block title %}List for Logistic{% endblock %}

{% block content %}
    <h3>Period Logistic</h3> <br>
    <form action="/logistic/" method="GET">
    {% include "includes/dates.html" %}
    {% include "includes/reservation_filter.html" %}
    {% include "includes/search_filter.html" %}
    </form>
    {% include "includes/info.html" %}

    <table class="table table-hover table-condensed" id="table">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Appartment</th>
        <th>Receipt</th>
        <th>Euro</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td> {% include "includes/person_display.html" %} </td>
        <td> {{ r.appartment }} </td>
        <td> {{ r.receipt.no }} </td>
        <td> {{ r.receipt.euro }} </td>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Sum:</td>
        <td>{{ sum }}</td>
      </tr>
    </table>
{% endblock %}
