<html>
  <body>
    {% include "includes/keda_icon.html" %}
    <br>
    <b>Currently the following card holders are registered in our Database:<b>
    <br>
    <hr>
    <table border="1">
      <tr>
        <th>Surname</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Active</th>
      </tr>
      {% for p in military_persons %}
      <tr>
        <td>{{ p.surname }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.rank }}</td>
        <td>{{ p.active }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
