<html>
<head>
    <title>ΠΑΡΟΥΣΙΟΛΟΓΙΟ</title>
<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/media/";</script>


<script type="text/javascript" src="/media/js/i18n.js/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.init.js"></script>
<script type="text/javascript" src="/media/js/actions.min.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/media/js/olga.js"></script>

</head>


<body>
    {% include "includes/menu.html" %}
    <b>{{ date }}<b>
      <table border="1" style="text-align:center" id="summary">
       <tr> <th colspan="5" style="text-align:center"><b>ΔΕΛΤΙΟ ΠΑΡΟΥΣΙΑΣ ΣΜΗΝΟΥΣ ΕΚΜΕΤΑΛΛΕΥΣΕΩΝ</b></th> </tr>
        <tr> <th></th> <th>ΔΥΝΑΜΗ</th> <th>ΠΑΡΟΝΤΕΣ</th> <th>ΑΠΟΝΤΕΣ</th>
             <td rowspan="6"><img src="{{ MEDIA_URL }}/keda_z.jpg" alt="keda" style="height:130; width:auto"</tr>
        <tr id="3"> <td>ΑΞΚΟΙ</td> <td id="c3"></td> <td id="p3"></td> <td id="a3"></td> </tr>
        <tr id="2"> <td>ΥΠΞΚΟΙ</td> <td id="c2"></td> <td id="p2"></td> <td id="a2"></td> </tr>
        <tr id="1"> <td>ΣΜΤΕΣ</td> <td id="c1"></td> <td id="p1"></td> <td id="a1"></td> </tr>
        <tr id="0"> <td>Μ.Υ.</td> <td id="c0"></td> <td id="p0"></td> <td id="a0"></td> </tr>
        <tr id="4"> <td>ΣΥΝΟΛΟ</td> <td id="c4"></td> <td id="p4"></td> <td id="a4"></td>  </tr>
      </table>
      <table border="1" class="tbl" id="staff">
        <tr> <th>Α/Α</th> <th>ΟΝΟΜΑΤΕΠΩΝΥΜΟ</th> <th>ΠΑΡΩΝ</th> <th>ΑΠΩΝ/AITIA</th>
        {% for s in staff %}
        <tr id="{{ s.id }}" style="height:10px"></td>
            <td id="idx" style="text-align:center">{{ forloop.counter }}</td>
            <td>{{ s.militaryperson }}</td>
            <td style="text-align:center">
                <input type="checkbox" name="paron"
                       class="{{ s.rank.category }}">
            </td>
            <td><select name="reason" class="id_reason">
                    <option value="none" selected="selected"></option>
                    <option value="1">OFF</option>
                    <option value="2">ΕΟΡΤΑΣΤΙΚΗ</option>
                    <option value="3">ΑΠΟΛΥΣΕΩΣ</option>
                    <option value="4">ΕΠ.ΑΓΟΡΩΝ</option>
                    <option value="5">ΑΔΙΚ</option>
                </select>
        {% endfor %}
  </body>
</html>
