{% extends "base.html" %}

{% block title %}ΠΑΡΟΥΣΙΟΛΟΓΙΟ{% endblock %}

{% block content %}
    <b>{{ date }}<b>
      <table class="table table-hover table-bordered table-condensed" id="summary-par">
       <tr> <th colspan="5" style="text-align:center;"><b>ΔΕΛΤΙΟ ΠΑΡΟΥΣΙΑΣ ΣΜΗΝΟΥΣ ΕΚΜΕΤΑΛΛΕΥΣΕΩΝ</b></th> </tr>
        <tr> <th></th> <th>ΔΥΝΑΜΗ</th> <th>ΠΑΡΟΝΤΕΣ</th> <th>ΑΠΟΝΤΕΣ</th>
             <td rowspan="6" style="text-align:center;"><img src="{{ MEDIA_URL }}/keda_z.jpg" alt="keda" style="width: 10em;"></tr>
        <tr id="3"> <td>ΑΞΚΟΙ</td> <td id="c3"></td> <td id="p3"></td> <td id="a3"></td> </tr>
        <tr id="2"> <td>ΥΠΞΚΟΙ</td> <td id="c2"></td> <td id="p2"></td> <td id="a2"></td> </tr>
        <tr id="1"> <td>ΣΜΤΕΣ</td> <td id="c1"></td> <td id="p1"></td> <td id="a1"></td> </tr>
        <tr id="0"> <td>Μ.Υ.</td> <td id="c0"></td> <td id="p0"></td> <td id="a0"></td> </tr>
        <tr id="4"> <td>ΣΥΝΟΛΟ</td> <td id="c4"></td> <td id="p4"></td> <td id="a4"></td>  </tr>
      </table>
      <br>
      <table class="table table-hover table-bordered table-condensed" class="tbl" id="staff">
        <tr> <th>Α/Α</th> <th>ΟΝΟΜΑΤΕΠΩΝΥΜΟ</th> <th>ΠΑΡΩΝ</th> <th>ΑΠΩΝ</th> <th>AITIA</th>
        {% for s in staff %}
        <tr id="{{ s.id }}">
            <td id="idx" style="text-align:center;">{{ forloop.counter }}</td>
            <td>{{ s.info }} {% if s.extra %} ({{ s.extra }}) {% endif %}</td>
            <td style="text-align:center;">
                <input type="checkbox" name="paron"
                       class="p{{ s.rank.category }}">
            </td>
            <td style="text-align:center;">
                <input type="checkbox" name="apon"
                       class="a{{ s.rank.category }}">
            </td>
            <td style="text-align:center;" id="id_reason">
                <select name="reason" >
                    <option selected="selected">OFF</option>
                    <option>ΕΟΡΤΑΣΤΙΚΗ</option>
                    <option>ΑΠΟΛΥΣΕΩΣ</option>
                    <option>ΕΠ.ΑΓΟΡΩΝ</option>
                    <option>251 ΓΝΑ</option>
                    <option>ΕΞΟΔΟΥΧΟΣ</option>
                    <option>ΑΠΟΓ.ΒΑΡΔΙΑ</option>
                    <option>Ε.Υ.</option>
                    <option>ΑΔΙΚ</option>
                    <option>ΟΛΙΓ.</option>
                    <option>ΑΝΑΡ.ΑΔ.</option>
                    <option>Φ.Π.</option>
                    <option>Φ.Μ.</option>
                </select>
        </tr>
        {% endfor %}
<script type="text/javascript" src="/media/js/parousiologio.js"></script>
{% endblock %}
