{% extends "base.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}
    <h3>Reservations</h3><br>
    <form action="/reservations/" method="GET">
      {% include "includes/dates.html" %}
      {% include "includes/reservation_filter.html" %}
      {% include "includes/search_filter.html" %}
    </form>
    {% include "includes/info.html" %}
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a target="_blank" href="/admin/reception/person/{{ r.owner.id }}/">{{ r.owner.info }}</a>
            {% include "includes/status.html" %}
        </td>

        <td><a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a></td>
        <td> <a href="/admin/reception/appartment/{{ r.appartment.id }}/">{{ r.appartment }}</a> </td>
        <td>{{ r.keda.get_res_type_display }}</td>
        <td>{{ r.receipt.no }}</td>
        </td>
      {% endfor %}
    </table>
{% endblock %}
