{% extends "base.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}
    <h3>Reservations</h3><br>
    <form action="/reservations/" method="GET">
      <div class="form-row">
          <input placeholder="From.." type="text" class="datepicker" name="start" />
          <input placeholder="..until" type="text" class="datepicker" name="end" />
          or
          <input placeholder="at.." type="text" class="datepicker" name="date" />
          or
          <select name="period" >
              <option value="">during..</option>
              {% for p in periods %}
              <option value="{{ p.id }}"> Period: {{ p.name }}: Από {{ p.start }} έως {{ p.end }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-row">
                <select name="rtype" >
                    <option value="">Reservation Type (All)</option>
                    {% for t in rtypes %}
                    <option value="{{ t.0 }}"> {{ t.1 }}</option>
                    {% endfor %}
                </select>
                <select name="status" >
                    <option value="">Reservation Status (All)</option>
                    {% for s in statuses %}
                    <option value="{{ s.0 }}"> {{ s.1 }}</option>
                    {% endfor %}
                </select>
        <input type="submit" class="btn" value="Search" style="float:right" />
        <input tabindex=1 type="text" id="search" size="20" placeholder="Type to filter" style="float:right" />
      </div>
      <div class="form-row">
        <div class="alert alert-info">
            {% if start and end %} From {{ start }} until {{ end }} {% endif %}
            {% if period %} During period {{ period.name }}: ({{ period.start }} ... {{ period.end }}) {% endif %}
            {% if date %} At {{ date }} {% endif %}
            {% if rtype %} + type {{ rtype }} {% endif %}
            {% if status %} + status {{ status }} {% endif %}
        </div>
      </div>
    </form>
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Relatives</th>
        <th>Vehicles</th>
        <th>Contacts</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% if r.owner.militaryperson %}
                {% if r.owner.militaryperson.visitor %}
                    <a href="/admin/reception/visitor/{{ r.owner.id }}/">{{ r.owner.militaryperson.visitor.info }}</a >
                {% else %}
                    <a href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.militaryperson.info }}</a >
                {% endif %}

            {% else %}
                <a href="/admin/reception/person/{{ r.owner.id }}/">{{ r.owner.militaryperson.info }}</a >
            {% endif %}
            {% if r.status = "PENDING" %}<span class="label label-warning">Pending</span>{% endif %}
            {% if r.status = "CANCELED" %}<span class="label label-important">Canceled</span>{% endif %}
        </td>

        <td>
        {% for rr in r.owner.relatives.all %}
          {{ rr }}<br>
        {% endfor %}
        </td>
        <td>
        {% for v in r.owner.vehicles.all %}
          {{ v.plate }}<br>
        {% endfor %}
        </td>
        <td>
        {% for c in r.owner.contacts.all %}
          {{ c.mobile }}<br>
        {% endfor %}
        </td>
        <td><a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a></td>
        <td>
            {{ r.appartment }}
        </td>
        <td>{{ r.res_type }}</td>
        <td>
        {% for p in r.receipts.all %}
          {{ p.no }}<br>
        {% endfor %}
        </td>
      {% endfor %}
    </table>
{% endblock %}
