<html>
<head>
    <title>Search for Available Appartments</title>
<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/media/";</script>


<script type="text/javascript" src="/media/js/i18n.js/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.init.js"></script>
<script type="text/javascript" src="/media/js/actions.min.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>

</head>
<body>
    {% include "includes/keda_icon.html" %}
    <br><b>Search for available Appartments based on various criteria</b><br>
    <form action="/search/" method="get">
        <div class="form-row check_in">
            {% if date_errors %} <p style="color: red;" > {{ date_errors }} </p> {% endif %}
            <div>
                <label for="id_check_in">Check In:</label>
                <input id="id_check_in" type="text" class="vDateField" onchange="this.form.submit()"
                       name="check_in" size="10" {% if check_in %} value="{{ check_in }}" {% endif %} />
            </div>
        </div>
        <div class="form-row check_out">
            <div>
                <label for="id_check_out">Check Out:</label>
                <input id="id_check_out" type="text" class="vDateField" onchange="this.form.submit()"
                       name="check_out" size="10" {% if check_out %} value="{{ check_out }}" {% endif %} />
            </div>
        </div>
        <div class="form-row area">
            <label for="id_area">Area:</label>
                <select name="area" id="id_area" onchange="this.form.submit()" >
                    <option value="">---------</option>
                    {% for a in areas %}
                    <option value="{{ a.0 }}" {% if area == a.0 %} selected="selected" {% endif %}> {{ a.1 }} </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-row category">
            <label for="id_category">Category:</label>
                <select name="category" id="id_category" onchange="this.form.submit()">
                    <option value="">---------</option>
                    {% for c in categories %}
                    <option value="{{ c.id }}" {% if category == c.id %} selected="selected" {% endif %}> {{ c.desc }} </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-row damaged">
            <div>
                <label for="id_active" class="vCheckboxLabel">Include Damaged </label>
                <input type="checkbox" name="damaged" id="id_damaged" onchange="this.form.submit()"
                       {% if damaged %} checked="checked" {% endif %} />
            </div>
        </div>
    </form>
    <form>
      <br>
      <hr>
      <table border="1">
        <tr>
          <th>Area</th>
          <th>No</th>
          <th>Rooms</th>
          <th>Beds</th>
        </tr>
        {% for a in avail %}
        <tr>
          <td>{{ a.area }}</td>
          <td>{{ a.no }}</td>
          <td>{{ a.rooms }}</td>
          <td>{{ a.double }}Δ+{{ a.single }}Μ+{{ a.bunk }}Κ</td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </body>
</html>
