{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <h3>Stats</h3><br>
    <form action="/stats/" method="get">
        {% include "includes/dates.html" %}
        {% include "includes/search_filter.html" %}
        <input type="checkbox" name="live">Live
        <input type="checkbox" name="show">Show
    </form>
        {% include "includes/info.html" %}

    <table class="table table-bordered table-condensed" style="width: 25%">
    <tr><th>Reservations</th><td>{{ total }}</td></tr>
    <tr><th>Persons</th><td>{{ persons }}</td></tr>
    <tr><th>Euros</th><td>{{ euros }}</td></tr>
    </table>

    <table class="table table-bordered">
        <tr>
            <th>ΤΑΚΤΙΚΟΙ</th>   
            <th>ΓΕΑ/Β3</th> 
            <th>Ε.Α.</th>   
            <th>M.Y.</th>   
            <th>ΠΑΡ/ΣΤΕΣ</th>   
            <th>ΜΟΝΑΔΑ</th> 
            <th>ΟΣΣΕΑΥ</th> 
        </tr>
        <tr>
            <td>{{ regular }}</td>
            <td>{{ b3 }}</td>
            <td>{{ ea }}</td>
            <td>{{ my }}</td>
            <td>{{ paratheristes }}</td>
            <td>{{ monada }}</td>
            <td>{{ osseay }}</td>
        </tr>
    </table>

    {% if show %}

    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr {% if r.errors %} class="error" {% endif %}>
            <td >
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.agent }} </td>
            <td>
                    {{ r.period }}
            </td>
            <td>
                    {{ r.appartment }}
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.errors %}
                  <span rel="tooltip" title="{{ r.errors|join:", " }}"> <span class="badge badge-important">E</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
<script type="text/javascript"> $('[rel=tooltip]').tooltip(); </script>

{% endblock %}
