{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <h3>Stats</h3><br>
    <form action="/stats/" method="get">
        {% include "includes/dates.html" %}
        {% include "includes/search_filter.html" %}
        <input type="checkbox" name="live">Live
        <input type="checkbox" name="show">Show
    </form>
        {% include "includes/info.html" %}

    <b>Reservations:</b> {{ total }} ({{ persons }} persons)<br>
    |__<b>ΤΑΚΤΙΚΟΙ:</b> {{ regular }} <br>
    |____<b>ΓΕΑ/Β3:</b> {{ b3 }} <br>
    |____<b>Ε.Α.:</b> {{ ea }} <br>
    |____<b>M.Y.:</b> {{ my }} <br>
    |__<b>ΠΑΡ/ΣΤΕΣ:</b> {{ paratheristes }} <br>
    |__<b>ΜΟΝΑΔΑ:</b> {{ monada }} <br>
    |__<b>ΟΣΣΕΑΥ:</b> {{ osseay }} <br>
    {% if show %}

    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Agent</th>
        <th>Period</th>
        <th>Appartment</th>
        <th>Type</th>
        <th>Payed</th>
        <th></th>
      </tr>
      {% for r in reservations %}
        <tr>
            <td {% if r.errors %} style="background:#FF0102" {% endif %}>
              {{ forloop.counter }}
            </td>
            <td>
                    <a target="_blank" href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.info }}</a>
                    {% include "includes/status.html" %}
            </td>
            <td> {{ r.agent }} </td>
            <td>
                    {{ r.period }}
            </td>
            <td>
                    {{ r.appartment }}
            </td>
            <td> {{ r.get_res_type_display }} </td>
            <td> {{ r.receipt.no }} </td>
            <td>
              {% if r.errors %}
                  <span rel="tooltip" title="{{ r.errors|join:", " }}"> <span class="label label-important">E</span> </span>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
<script type="text/javascript"> $('[rel=tooltip]').tooltip(); </script>

{% endblock %}
