{% extends "base.html" %}

{% block title %}Testing Page{% endblock %}

{% block content %}
    <form action="/test/" method="GET">
      <div class="form-row">
        <b> {% if period %} Period {{ period.id }}: ({{ period.start }} ... {{ period.end }}) {% endif %} </b><br>
                <select name="period" onchange="this.form.submit()" >
                    <option value="">Select period</option>
                    {% for p in periods %}
                    <option value="{{ p.id }}"> Period: {{ p.id }}: Από {{ p.start }} έως {{ p.end }}</option>
                    {% endfor %}
                </select>
      </div>
      <div class="form-row">
        <input tabindex=1 type="text" id="search" size="20" placeholder="Type to search" />
      </div>
    </form>
    <br> <b> Visitors that requested phone activation </b> <br>
    <table border="1" id="table">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Appartment</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/admin/reception/visitor/{{ r.owner.id }}/">{{ r.owner.militaryperson.info }}</a></td>
        <td>
            {{ r.appartment }}
        </td>
      {% endfor %}
    </table>
<script type="text/javascript" src="/media/js/filter.js"></script>    
{% endblock %}
