{% extends "base.html" %}

{% block title %}Test Page{% endblock %}

{% block content %}
    <h3>Reservations</h3><br>
    <form action="/test/" method="GET">
      <div class="form-row">
          <input placeholder="From.." type="text" class="datepicker" name="start" />
          <input placeholder="..until" type="text" class="datepicker" name="end" />
          or
          <input placeholder="at.." type="text" class="datepicker" name="date" />
          or
          <select name="period" >
              <option value="">during..</option>
              {% for p in periods %}
              <option value="{{ p.id }}"> Period: {{ p.name }}: Από {{ p.start }} έως {{ p.end }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-row">
                <select name="rtype" >
                    <option value="">Reservation Type (All)</option>
                    {% for t in rtypes %}
                    <option value="{{ t.0 }}"> {{ t.1 }}</option>
                    {% endfor %}
                </select>
                <select name="status" >
                    <option value="">Reservation Status (All)</option>
                    {% for s in statuses %}
                    <option value="{{ s.0 }}"> {{ s.1 }}</option>
                    {% endfor %}
                </select>
    	<button type="submit" class="btn" style="float:right"><i class="icon-search"></i> Search</button>
      </div><br>
      <div class="input-prepend form-row">
        <span class="add-on"><i class="icon-search"></i></span>
        <input tabindex=1 type="text" id="search" size="20" placeholder="Type to search" />
      </div>
    </form>
      <input id="condensed" type="checkbox"> table-condensed
    <div>
      <input class="rltvs" type="checkbox" checked> Relatives
      <input class="vhcls" type="checkbox" checked> Vehicles
      <input class="cntcts" type="checkbox" checked> Contacts
      <input class="prd" type="checkbox" checked> Period
      <input class="aprtmnt" type="checkbox" checked> Appartment
      <input class="tp" type="checkbox" checked> Type
      <input class="pd" type="checkbox" checked> Payed
      <input class="actv" type="checkbox" checked> EA
    </div>
    <br>
    <table  id="table" class="table table-hover">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th class="relatives">Relatives</th>
        <th class="vehicles">Vehicles</th>
        <th class="contacts">Contacts</th>
        <th class="period">Period</th>
        <th class="appartment">Appartment</th> 
        <th class="type">Type</th>
        <th class="payed">Payed</th>
        <th class="ea">EA</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% if r.owner.militaryperson %}
                {% if r.owner.militaryperson.visitor %}
                    <a href="/admin/reception/visitor/{{ r.owner.id }}/">{{ r.owner.militaryperson.visitor.info }}</a >
                {% else %}
                    <a href="/admin/reception/militaryperson/{{ r.owner.id }}/">{{ r.owner.militaryperson.info }}</a >
                {% endif %}

            {% else %}
                <a href="/admin/reception/person/{{ r.owner.id }}/">{{ r.owner.militaryperson.info }}</a >
            {% endif %}
        </td>
        <td class="relatives">
        {% for rr in r.owner.relatives.all %}
          {{ rr }}<br>
        {% endfor %}
        </td>
        <td class="vehicles">
        {% for v in r.owner.vehicles.all %}
          {{ v.plate }}<br>
        {% endfor %}
        </td>
        <td class="contacts">
        {% for c in r.owner.contacts.all %}
          {{ c.mobile }}<br>
        {% endfor %}
        </td>
        <td class="period"><a href="/admin/reception/reservation/{{ r.id }}/">{{ r.period }}</a></td>
        <td class="appartment">
            {{ r.appartment }}
        </td>
        <td class="type">{{ r.res_type }}</td>
        <td class="payed">
        {% for p in r.receipts.all %}
          {{ p.no }}<br>
        {% endfor %}
        </td>
        <td class="ea">
          {% if not r.owner.militaryperson.active %} EA {% endif %}
        </td>
      {% endfor %}
    </table>

<script type="text/javascript">

</script>
{% endblock %}
