{% extends "base.html" %}

{% block title %}List for TH{% endblock %}

{% block content %}
    <h3>Phone activations</h3> <br>
    <form action="/th/" method="GET">
    {% include "includes/dates.html" %}
    {% include "includes/search_filter.html" %}
    </form>
    {% include "includes/info.html" %}

    <table class="table table-hover table-condensed" id="table">
      <tr id="titles">
        <th></th>
        <th>Visitor</th>
        <th>Appartment</th>
      </tr>
      {% for r in reservations %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% with r.owner as person %}
              {% include "includes/person_display.html" %}
            {% endwith %}
        </td>
        <td>
            {{ r.appartment }}
        </td>
      {% endfor %}
    </table>
{% endblock %}
