<html>
<head>
    <title>Search for Persons</title>
    {% include "includes/scripts.html" %}
    <script type="text/javascript" src="/media/js/filter.js"></script>
</head>
<body>
    {% include "includes/menu.html" %}
    <form action="/visitors/" method="GET">
      <b>{{ date }}</b><br>
      <div class="form-row date">
        <input id="id_date" type="text" class="vDateField" name="date" size="10"
               placeholder="Date to check" onkeyup="this.form.submit()"/><br>
      </div>
      <div class="form-row date">
        <input type="text" id="search" size="20" placeholder="Type to search" />
      </div>
    </form>
    <table border="1" id="table">
      <tr>
        <th></th>
        <th>Visitor</th>
        <th>Relatives</th>
        <th>Vehicles</th>
        <th>Contacts</th>
        <th>Appartment</th>
        <th>Period</th>
      </tr>
      {% for v in visitors %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ v.info }}</td>
        <td>
        {% for r in v.relatives.all %}
          {{ r }} - {{ r.relationship }}<br>
        {% endfor %}
        </td>
        <td>
        {% for veh in v.vehicles.all %}
          {{ veh }}<br>
        {% endfor %}
        </td>
        <td>
        {% for c in v.contacts.all %}
          {{ c.mobile }}<br>
        {% endfor %}
        </td>
        <td>
        {% for res in v.reservations.all %}
            {{ res.appartment }}<br>
        {% endfor %}
        </td>
        <td>
        {% for res in v.reservations.all %}
            {{ res.period }})<br>
        {% endfor %}
        </td>
      {% endfor %}
    </table>
  </body>
</html>
